.find {
    max-width: 100%;
    background: #232323;
    min-height: 50vh;
    padding: 3em 0;
    
    
    h2 {
        color: $white;
        text-align: center;
    }

    .links {
        max-width: 50%;
        margin: 3em auto 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 3em;
        transition: .3s;

        a {

            img {
                max-width: 4em;
            }

            &:hover {
                img {
                    opacity: .7;
                    
                    
                }  
              }
        }
    }
}